body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.playfair {
  font-family: "Playfair Display", serif;
}

.red-hat {
  font-family: "Red Hat Display", sans-serif;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: floatUpDown 4s ease-in-out infinite;
}

@keyframes flashBorder {
  0% {
    box-shadow: 0 0 5px #592DB5, 0 0 10px #592DB5, 0 0 20px #592DB5;
  }

  50% {
    box-shadow: 0 0 20px #592DB5, 0 0 30px #592DB5, 0 0 40px #592DB5;
  }

  100% {
    box-shadow: 0 0 5px #592DB5, 0 0 10px #592DB5, 0 0 20px #592DB5;
  }
}

.flash-button {
  animation: flashBorder 2s infinite;
}





@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes marqueeReverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.animate-marquee2 {
  animation: marquee 25s linear infinite;
}

.animate-marquee-reverse {
  animation: marqueeReverse 20s linear infinite;
}



@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-border {
  background-size: 200% 200%;
  animation: borderMove 6s linear infinite;
}